/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav, .site-nav .item, .contacts.list, .features-list, .list.doing, .team-list, .clients-list, .address-item, .footer-list, .list.filter, .list.projects {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-title, .features-title, .employee-title, .work-title {
  margin-top: 0px;
  color: #212121;
  text-align: center;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

section {
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.button {
  display: inline-block;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px 9px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: Roboto;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button.subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header {
  border-bottom: 1px solid #ececec;
}

header > .container,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-icon {
  display: block;
  margin-right: 10px;
}

.contacts-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-top:hover, .contacts-top:focus {
  fill: #2196f3;
}

/* Site navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: Roboto;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}

.link.current {
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts.list .item + .item {
  margin-left: 50px;
}

.contacts a {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: Roboto;
}

.contacts.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > address {
  margin-left: auto;
}

.logo {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: raleway;
}

.logo.footer {
  display: block;
  margin-bottom: 20px;
}

.primary-logo {
  color: #000000;
}

.secondary-logo {
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-family: Roboto;
  text-transform: uppercase;
}

.section.features {
  padding-top: 94px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  text-transform: uppercase;
  text-align: left;
}

.features-item {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item p {
  margin-top: 0px;
}

.features-item h3 {
  margin-bottom: 10px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.list.doing {
  display: flex;
  flex-wrap: wrap;
}

.item.doing {
  margin-right: 30px;
  position: relative;
}

.item.doing:nth-child(3) {
  margin-right: 0px;
}

.doing-description {
  display: block;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  text-align: center;
  text-transform: uppercase;
}

.section-team {
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list img {
  margin-bottom: 30px;
}

.team-list h3 {
  margin-bottom: 10px;
}

.team-list p {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-list > li {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > li:nth-child(4) {
  margin-right: 0px;
}

.employee-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Roboto;
}

.social-list {
  display: flex;
  padding: 0px;
  margin-bottom: 30px;
  justify-content: center;
}

.socials {
  display: inline-flex;
}

.socials:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}

.section.clients {
  padding-top: 94px;
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.container.footer {
  display: flex;
}

.container-footer {
  display: inline-block;
  margin-right: 70px;
}

.container-footer.subscribe {
  margin-left: auto;
  margin-right: 0px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

li .address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-item {
  padding-bottom: 0px;
}

.address-item:not(:last-child) {
  padding-bottom: 9px;
}

.social-list.footer {
  margin: 0;
}

li .primary {
  color: #ffffff;
}

.social-link.footer {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link.footer:hover, .social-link.footer:focus {
  background: #2196f3;
}

.container-footer > p {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  color: #ffffff;
}

.subscribe-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.list.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.list.filter > li:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  text-align: center;
  font-family: roboto, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: Roboto;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects a {
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a:hover, .projects a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.work-title {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-family: Roboto;
}

.project-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
}

.section.portfolio {
  padding-top: 94px;
  padding-bottom: 64px;
}

.portfolio-description {
  padding: 20px 24px;
  background-color: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.image-content {
  position: relative;
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 63px 24px;
  overflow: hidden;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-family: Roboto;
}

.projects a:hover .image-text,
.projects a:focus .image-text {
  opacity: 1;
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-family: Roboto;
  color: #212121;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid teal; */
  text-align: start;
}

.form-field.textarea {
  margin-bottom: 20px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  box-sizing: border-box;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field .footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.form-field.footer {
  display: flex;
  flex-direction: row;
}

textarea {
  box-sizing: border-box;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

textarea:focus {
  outline: transparent;
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-family: Roboto;
  color: #757575;
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  display: inline-block;
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-input:focus {
  outline: transparent;
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept {
  display: inline-flex;
  margin-bottom: 30px;
  font-size: 14px;
}

.accept-link {
  display: inline;
  text-decoration: underline;
  margin-left: 4px;
  color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  position: relative;
  display: inline-flex;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .check-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.check-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .check-svg {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */