.list.doing {
  display: flex;
  flex-wrap: wrap;
}

.item.doing {
  margin-right: 30px;
  position: relative;
}

.item.doing:nth-child(3) {
  margin-right: 0px;
}

.doing-description {
  display: block;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;

  background: rgba(47, 48, 58, 0.8);
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
