.section.features {
  padding-top: 94px;
}

.features-title {
  @extend %title;
  @include font(700);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.features-item {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;

  &:not(:last-child) {
    margin-right: 30px;
  }

  p {
    margin-top: 0px;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.features-icon {
  @include centeredflex();

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $primary-background-color;
  border-radius: 4px;
}

.features-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}
